
img.logo {
    vertical-align: text-top;
}

img.icon {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    margin-right: 5px;
}

.node-name {
    padding-top: 55px;
}

.breadcrumb {
    background-color: #edebec;
    border-top-right-radius: 0;
}

.table-padding {
    padding-right: 5%;
}

table.table-report {
    margin-top: 55px;
    table-layout: fixed;
}

table.table-no-top,
table.table-no-top > thead > tr > th {
    border-width: 0;
}

th.directory-name-title {
    width: 20%;
}

th.rotate {
    height: 50px;
    margin-bottom: 10px;
    white-space: nowrap;
    width: 70px;
}

th.rotate > div {
    transform: translate(27px, 0px) rotate(325deg);
    width: 30px;
}

th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

td.score {
    width: 70px;
    height: 50px;
}

.legend {
    color: #fff;
    padding: 5px 10px;
    margin-right: 15px;
}