
img.logo {
    vertical-align: text-top;
}

.node-name {
    padding-top: 55px;
}

.breadcrumb {
    background-color: #edebec;
    border-top-right-radius: 0;
}

table.table {
    margin-top: 55px;
}

table.table-no-top,
table.table-no-top > thead > tr > th {
    border-width: 0;
}

th.directory-name-title {
    width: 20%;
}

th.rotate {
    height: 50px;
    margin-bottom: 10px;
    white-space: nowrap;
    width: 70px;
}

th.rotate > div {
    transform: translate(27px, 0px) rotate(325deg);
    width: 30px;
}

th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}